/*
CSS HEX 
--rich-black-fogra-39: #050505ff;
--blue-munsell: #1b9aaaff;
--bone: #dddbcbff;
--alabaster: #f5f1e3ff;
--mid-grey(?): #7c8483ff;

*/
body{
    background-color: #7c8483ff;

}

p {
    color: #050505ff;
    font-family: 'Playfair Display', serif;
}

.para_box {
    height: auto;
    width: 400px;
    background-color: #dddbcbff;
    padding-right: 5px;


}

h1{
    color: #1b9aaaff;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: bold;
    padding: auto;
    text-align: left;
    height: auto;
    width: 400px;
    background-color: #3a506bff;

}
main{
    background-color: #7c8483ff;
}

li{
    color: #050505ff;
}


.ordered {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    background-color: #dddbcbff;

}
.unordered {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    
    background-color: #dddbcbff;

}


nav {
    border-bottom: 2px solid black;
    width: auto;
    float: right;

}

.navbar {
    display: inline-block;

    color: #1b9aaaff;
    
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding: 0 3px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    
    
    background-color: #f5f1e3ff;
    position: sticky;
}