/*
CSS HEX 
--big-dip-oruby: #982649ff;
--gray-web: #7c8483ff;
--pewter-blue: #71a2b6ff;
--blue-jeans: #60b2e5ff;
--electric-blue: #53f4ffff;

--oxford-blue: #0b132bff;
--space-cadet: #1c2541ff;
--independence: #3a506bff;
--maximum-blue-green: #5bc0beff;
--turquoise-blue: #6fffe9ff;

*/

p {
    color: #1c2541ff;
    font-family: 'Playfair Display', serif;
}

h1{
    color: #0b132bff;
}
main{
    background-color: #7c8483ff;
}

li{
    color: #6fffe9ff;
}


nav {
    border-bottom: 1px solid black;
}

.navbar ol {
    list-style-type: none;
    padding-left: 0;
}

.navbar {
    display: inline-block;

    color: #53f4ffff;
    
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding: 0 3px;
}